.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: 100;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #000;
  background-color: rgb(241, 203, 153);
  width: 80%;
  border-radius: 7px;
  padding: 10px 5px;
}

textarea, 
input {
  background-color: rgb(248, 242, 233);
  border-radius: 7px;
  margin-bottom: 10px;
  border: 1px solid #000;
}

input {
  height: 20px;
}

label {
    margin-bottom: 10px;
}

form button {
    background-color: rgb(187, 204, 156);
    margin: 8px;
    border-radius: 7px;
    padding: 7px 11px;
    font-family: "Parkinsans", sans-serif;
    border: none;
}

@media only screen and (min-width: 768px) {
  form {
    width: 40%;
  }
}