h2 {
    text-align: center;
}

.postList {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 30px;
}

.listItem {
    background-color: rgb(217, 213, 192);
    width: 60%;
    padding: 20px;
    border-radius: 7px;
    margin: 10px 0;
    color: rgb(88, 92, 65);
}

.postList div {
    display: inline;
}

.post {
    text-align: center;
    margin: 0;
    color: rgb(88, 92, 65);
}

.author, 
.authorName {
    display: inline;
}

.author {
    margin-right: 10px;
}

.postList button {
    background-color: transparent;
    margin-left: 90px;
    border: none;
}

@media only screen and (min-width: 768px) {
    .postList {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .listItem {
        width: 20%;
    }

    .postList button {
        margin-left: 130px;
    }
}
