@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(244, 244, 201);
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

